# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

*.Debug
*.Release
*Makefile*

# Executables
*.exe
*.out
*.app

.qmake.stash

.qtc_clangd/.cache/clangd/index/

.qtc_clangd/
Release/

*.user

moc_mainwindow.cpp

Debug/
